
.text-tag
  position: relative
  padding: 6px 9px
  margin-right: 3px
  display: inline-block
  border: 1px solid #cccccc
  border-radius: 5px
  background: #fff
  color: #333
  font-weight: 100
  .name
    max-width: 140px
    overflow: hidden
    white-space: nowrap
    text-overflow: ellipsis
    display: inline-block
    margin-right: 24px
    vertical-align: middle
  .fa-remove
    vertical-align: middle
  .close
    background: url(images/dialog_close_button.png)
    width: 20px
    height: 20px
    position: absolute
    top: 1px
    right: 1px
    &:hover
      position: absolute
      top: 2px
      right: 1px
