/******* Admin UI operation bar *****
#operation
  .btn-group
    margin-top: 2px
  .btn-group.pull-left
    margin-left: 2px
  .btn-group.pull-right
    margin-right: 2px

#operation
  height: 35px
  width: 100%
  /*     margin-bottom: 18px;
  @include box-shadow(#111111 0px 2px 3px)

  background: #fff
  background: -webkit-gradient(linear, 0 0, 0 bottom, from(white), to(#dddddd))
  background: -webkit-linear-gradient(white, #dddddd)
  background: -moz-linear-gradient(white, #dddddd)
  background: -ms-linear-gradient(white, #dddddd)
  background: -o-linear-gradient(white, #dddddd)
  background: linear-gradient(white, #dddddd)
  img.logo
    width: 24px
    height: 24px
    margin: 4px
    margin-left: 10px
    float: left
  .logo-text
    margin-top: 7px
    margin-left: 10px
    font-size: 16px
    float: left
    color: #333
    @include text-shadow(white 1px 1px)
  .lang-selector
    display: inline

#operation a.admin-menu-button
  display: none
  float: left

.logo-text
  float: left
  font-size: 32px
  margin: 8px 20px 10px 20px
  font-style: italic
  font-family: Times new roman
