@import "compass/css3"

@import "normalize"
@import "base"
@import "grid"
@import "clearfix"

@import "region"
@import "mixin"

@import "helpers"

@import "effects"
@import "components"
@import "layouts"

@import "widget"
@import "menu"
@import "operation"
@import "login"

@import "actionkit/checkbox-view"

fieldset
  border: 1px solid #ccc
  padding: 4px 12px
  margin-top: 15px

/*
 *.section .label { 
 *    border: 1px solid #ccc;
 *    background-color: #fff;
 *    border-radius: 5px;
 *    padding: 5px;
 *    margin: 5px;
 *    margin-right: 10px;
 *    float: left;
 *}

a.link-holder
  line-height: 24px
  background: #e0e0e0
  display: inline-block
  border: 1px solid #ccc
  border-radius: 3px
  padding: 0 5px
  color: #22767B
  text-shadow: 0 1px #fff

.dark
  background-color: #254D52
  border: 1px solid #373131
  border-top: 0
  color: #B5D5D5
