@import "compass/css3"

@import "normalize"
@import "base"
@import "grid"
@import "clearfix"

@import "section"
@import "form"
@import "region"
@import "mixin"

@import "helpers"

@import "effects"
@import "components"

@import "layouts/panel"


fieldset
  border: 1px solid #ccc
  padding: 4px 12px
  margin-top: 15px

ul#panel-buttons
  margin: 10px 10px 0px 10px
  padding-top: 10px
  padding-left: 10px
  padding-bottom: 4px
  width: 70%
  li
    a
      font-size: 18px
      padding: 7px 15px
      display: inline
      color: #000
      border: 1px solid #aaaaaa
      &:hover
        border: 1px solid #ddd000
        color: #dd5000



input.submit-btn
  font-size: 20px
  font-weight: bold
  padding: 8px
input.delete-btn
  font-size: 20px
  font-weight: normal
  padding: 8px



@import "widget"
@import "menu"
@import "operation"
@import "login"



/*
 *.section .label { 
 *    border: 1px solid #ccc;
 *    background-color: #fff;
 *    border-radius: 5px;
 *    padding: 5px;
 *    margin: 5px;
 *    margin-right: 10px;
 *    float: left;
 *}


ul.actionkit-checkbox-view
  list-style: none
  input[type=checkbox]
    margin-right: 3px
    display: inline-block
  ul
    margin-left: 20px


@media screen and (max-width: 880px)
  #operation a.admin-menu-button
    display: block
  .admin-menu
    display: none
    position: absolute
    top: 32px
    z-index: 99
  .admin-panel
    width: 98%
