{#
vim:filetype=htmldjango:
#}
<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8"/>
    {% set appname = Kernel.config.get('framework','ApplicationName') %}

    {% block head %}

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="content" content="Content-Type: text/html; Charset: UTF-8; " />
    <meta name="keywords" content="{{ Page.Keywords }}" />
    <meta name="description" content="{{ Page.Description }}"/>
    <link href='http://fonts.googleapis.com/css?family=Prociono' rel='stylesheet' type='text/css'>

    <title>{% block title %}{{ title|default(appname) }}{% endblock %}</title>
    {{ Web.include_loaded_assets('adminui-page') |raw}}
    {% endblock %}

    <script>
    if(typeof jQuery !== 'undefined') {
        if( typeof FormKit !== 'undefined' ) {
            jQuery(function() { FormKit.install(); });
        }
    }
    </script>
</head>
<body>
{% block body %}

{% endblock %}

<script>
$(function() {
    $('.quick-box').addClass('in');
    var lis = document.querySelectorAll('.quick-box ul > li');
    var items = [];
    for ( var i = 0 ; i < lis.length ; i++ ) {
        items.push(lis[i]);
    }

    var filterItems = function(keyword) {
        for( var i = 0 ; i < items.length ; i++ ) {
            var item = items[i];
            var title = item.querySelector('.title').innerHTML
            var desc = item.querySelector('.desc').innerHTML
            if ( title.indexOf(keyword) != -1 || desc.indexOf(keyword) != -1 ) {
                item.style.display = "block";
            } else {
                item.style.display = "none";
            }
        }
    };
    var tHandle;

    var $input = $('.quick-box .quicksearch-input')
    $input.keydown(function(e) {
        var keyword = e.currentTarget.value;
        if ( tHandle ) {
            clearTimeout(tHandle);
        }
        tHandle = setTimeout(function() {
            filterItems($input.val())
        }, 50);
    });
});
</script>

<div class="quick-box">
    <div class="quick-box-inner">
        <div class="quick-box-header">
            <h2>Quick Search</h2>
        </div>
        <div class="quicksearch-box">
            <input class="quicksearch-input" type="text" placeholder="Quick Search Here..."/>
        </div>
        <ul>
            {% for i in 1..20 %}
            <li>
                <a>
                    <div class="icon icon-credit-card"> </div>
                    <span class="title">{{ random(['Product', 'Banner', 'Image', 'UseCase']) }}</span>
                    <span class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ultrices, nibh ac feugiat lacinia, leo tellus hendrerit mi</span>
                </a>
            </li>
            <li>
                <a>
                    <div class="icon icon-credit-card"> </div>
                    <span class="title">Product &gt; Product Category</span>
                    <span class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ultrices, nibh ac feugiat lacinia, leo tellus hendrerit mi</span>
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
</body>
</html>
