{#
vim:filetype=htmldjango:
#}
<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8"/>
    {% set appname = Kernel.config.get('framework','ApplicationName') %}

    {% block head %}
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="content" content="Content-Type: text/html; Charset: UTF-8; " />
    {#
    <link href='http://fonts.googleapis.com/css?family=Prociono' rel='stylesheet' type='text/css'>
    #}

    <title>{% block title %}{{ title|default(appname) }}{% endblock %}</title>

    {# move this to tinymce asset #}
    <script src="/assets/phifty-core/js/tinymce/tiny_mce.js"> </script>
    <script src="/assets/phifty-core/js/tinymce_helper.js"> </script>

    {# include all assets from CoreBundle, they're not UI related. #}
    {% assets Kernel.bundle('CoreBundle').assets() %}

    {% if Kernel.bundle('I18N') %}
        {% assets Kernel.bundle('I18N').assets() %}
    {% endif %}

    {# include AdminUI assets #}
    {% assets AdminUI.assets() %}

    {# include assets for CRUD operations, some are UI related. #}
    {% if Kernel.bundle('CRUD') %}
        {% assets Kernel.bundle('CRUD').assets() %}
    {% endif %}

    {% endblock %}

    <script>
    if(typeof jQuery !== 'undefined') {
        if( typeof FormKit !== 'undefined' ) {
            jQuery(function() { FormKit.install(); });
        }
    }
    $(function() {
        $(document).bind('drop dragover', function (e) {
            e.preventDefault();
        });
    });
    </script>
</head>
<body>
{% block body %}

{% endblock %}
</body>
</html>
