{#
vim:filetype=htmldjango:
#}
<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    {% set appname = Kernel.config.get('framework','ApplicationName') %}

    {% block head %}
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="content" content="Content-Type: text/html; Charset: UTF-8; " />

    {% if Kernel.bundle('AdminUI').config('WebFonts') %}
    <link href='http://fonts.googleapis.com/css?family=Prociono' rel='stylesheet' type='text/css'>
    {% endif %}

    <title>{% block title %}{{ title|default(appname) }}{% endblock %}</title>

    {# move this to tinymce asset #}
    <script src="/assets/phifty-core/js/tinymce/tiny_mce.js"> </script>
    <script src="/assets/phifty-core/js/tinymce_helper.js"> </script>

    {# include all assets from CoreBundle, they're not UI related. #}
    {% assets Kernel.bundle('CoreBundle').getAssets() %}

    {% if Kernel.bundle('I18N') %}
        {% assets Kernel.bundle('I18N').getAssets() %}
    {% endif %}

    {# include AdminUI assets #}
    {% if Kernel.bundle('AdminUI') %}
        {% assets Kernel.bundle('AdminUI').getAssets() %}
    {% endif %}

    {# include assets for CRUD operations, some are UI related. #}
    {% if Kernel.bundle('CRUD') %}
        {% assets Kernel.bundle('CRUD').getAssets() %}
    {% endif %}

    {% endblock %}
</head>
<body>
{% block body %}

{% endblock %}
</body>
</html>
