{% extends '@AdminUI/page.html' %}
{% import '@CoreBundle/phifty/forms.html' as forms %}
{% block title %}{{ parent() }} - Login{% endblock %}
{% block content %}
<div id="result-container" class="w-400" style=" margin: 0 auto; margin-top: 30px;"> </div>
<div id="login-box" class="center-box w-400">
    <h1>{% trans 'Login' %}</h1>
    <div>
        <form id="loginForm" method="post">
            {{ action.renderSignatureWidget() | raw }}
            {{ action.renderCSRFTokenWidget() | raw }}
            {% if goto %}
                <input type="hidden" name="redirect" value="{{ goto }}"/>
            {% endif %}

            <div class="v-field">
                <div class="label">
                    Account
                </div>
                <div class="input">
                    <input class="input" type="text" name="account" autofocus="true" placeholder="Your Account"/>
                </div>
            </div>

            <div class="v-field">
                <div class="label">
                    Password
                </div>
                <div class="input">
                    <input type="password" name="password"/>
                </div>
            </div>

            <div class="button-group">
                {#
                <label>
                    <input type="checkbox" name="session_expiry" value="{{ 3600 * 24 *30 }}"/> 保持登入 30 天
                </label>
                #}
                <input class="button submit" type="submit" value="{% trans 'Login' %}"/>

                {% if Kernel.bundle('UserBundle').config('allow_register') %}
                    {{ forms.button_link('註冊','/bs/user/register') }}
                {% endif %}
            </div>
        </form>
    </div>
</div>

<script type="text/javascript">
$(function() {
    Action.form( $('#loginForm') ).plug( ActionMsgbox, { container: $('#result-container').get(0) });
});
</script>
{% endblock %}
