{% extends '@AdminUI/page.html' %}
{% import '@CoreBundle/phifty/forms.html' as forms %}
{% block title %}{{ parent() }} - Login{% endblock %}
{% block content %}
<div id="result-container" class="w-400" style=" margin: 0 auto; margin-top: 30px;"> </div>
<div id="login-box" class="center-box w-400">
    <h1>{% trans 'Login' %}</h1>
    <div>
        <form id="loginForm" method="post">
            {{ forms.action('UserBundle::Action::Login') }}

            {% if goto %}
                <input type="hidden" name="redirect" value="{{ goto }}"/>
            {% endif %}

            {{ forms.field( 'Account', 'text' , 'account' , '' , 1 ) }}

            {{ forms.field( 'Password', 'password' , 'password' , '' , 1 ) }}

            <div class="button-group">
                <label>
                    <input type="checkbox" name="session_expiry" value="{{ 3600 * 24 *30 }}"/> 保持登入 30 天
                </label>

                <input class="button submit" type="submit" value="{% trans 'Login' %}"/>

                {% if Kernel.bundle('UserBundle').config('allow_register') %}
                    {{ forms.button_link('註冊','/bs/user/register') }}
                {% endif %}
            </div>
        </form>
    </div>
</div>

<script type="text/javascript">
$(function() {
    Action.form( $('#loginForm') ).plug( ActionMsgbox, { container: $('#result-container').get(0) });
});
</script>
{% endblock %}
